<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <table>
    <%= render @questions %>
  </table>
</p>

<%= render 'shared/add_question_button', test: @test %>
<%= link_to 'Edit this test', edit_test_path(@test)%>
<%= link_to 'Back to tests', tests_path %>
