<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, id: :question_text %>
  </p><br>

  <p><%= form.submit %></p>
<% end %>
