<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>from test:</strong>
  <%= @question.test.title %>
</p>

<h2>Answers</h2>

<%= render 'shared/add_answer_button', question: @question %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Edit', edit_question_path(@question)%>
<%= link_to 'Back to this test', admin_test_path(@question.test) %>
<%= link_to 'Delete',
                question_path(@question),
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
