<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>from test:</strong>
  <%= @question.test.title %>
</p>
<%= link_to 'Edit', edit_question_path(@question)%>
<%= link_to 'Back to questions of this test', test_questions_path(@test) %>
<%= link_to 'Delete',
                question_path(@question),
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
